extends index


block content
    .course-title
        h1= title
        if isOwner
            .course-actions
                a(href=`/course/access-list/${course._id}` style="margin-right: 20px").btn.btn-primary Запросы доступа
                button(data-course= course._id disabled= course.isDelete).btn.btn-primary.red#delete-course Удалить
        else if isReqMember
            button(data-access-request= course._id disabled).btn.btn-primary Ожидание доступа
        else if !isMember
            button(data-access-request= course._id).btn.btn-primary#access-request Запросить доступ
        
    .row
        .col.s12
            .card
                .card-image
                    img(src= course.url, alt= course.title)
                    span.card-title.course-text-invert= course.title
                .card-content
                    p= course.description
    .row
        .col.s12
            if !lessons.length
                h6 Еще нет занятий
            else 
                ul.collapsible.expandable
                    each lesson in lessons
                        li 
                            .collapsible-header
                                i.material-icons control_point
                                span= lesson.title
                                if isOwner || isMember
                                    a(href=`/lesson/${lesson._id}`).waves-effect.waves-light.btn-small.lesson-button Перейти
                            .collapsible-body
                                p= lesson.description
            if isOwner
                a(href=`/lesson/add/${course.id}`).btn.btn-primary Добавить занятие

