extends index


block content
    .row
        .col.s12     
            h4= lesson.title

            video(src= lesson.videoUrl controls).responsive-video

            .comments
                h6 Комментарии к уроку:
                if lesson.comments.length
                    ul.collection
                        each comment in lesson.comments
                            li.collection-item
                                span.title.comments-title 
                                    span.comments-author= `От: ${comment.author}`
                                    spam.comments-time= `Дата: ${moment(comment.date).format("DD MMM YYYY | HH:mm")}`
                                .comments-message= comment.message


            form(action=`/api/lesson/${lesson.id}`, method="POST")
                .input-field
                    textarea(name="comment", cols="30", rows="10")#comment.materialize-textarea
                    label(for="comment") Новый комментарий
                button(type="submit").btn.btn-primary Отправить






